.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
  input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 8px;
    font-size: 17px;
    color: #b8b8b8;
  }
  .button-wrap {
    position: relative;
  }
  .button {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(88,78,225);
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }
    #logout {
    position: fixed;
    bottom: 0;
    }
    #admin {
        position: fixed;
        bottom: 59px;
    }	